<h2 class = "text-center mt-4"> <%= @article.title %> </h2>
  <div class="container">
    <%# instance variable here is @article  %>
      <div class="row justify-content-md-center mt-10 pt-2">
      <div class="col-8">
        <div class="card text-center shadow  bg-white rounded mt-4">
          <div class="card-header font-italic">
          <%# here we are saying who the article is created by via the username if there is a user  %>
            By <%= @article.user.username if @article.user %>
            <%#this is the image, which is found via the specific user @article.user, if it is clicked
            it will take the person to the users profile  %>
            <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
            </div>
            <div class="card-body">
              <%# here we have the full description shown in a simple format which displays from left to right  %>
              <div class="card-text text-left"><%= simple_format(@article.description) %></div>
              <%# if theres someone logged in and the @article.user which is the instance
              variable is = to the current user logged in only then will the user be able
              to edit or delete the article based on if it was created by them.  %>
              <% if logged_in? && @article.user == current_user %>
                <%= link_to 'edit', edit_article_path(@article),class: "btn btn-success mt-2" %> </h2>
                <%= link_to 'Delete', article_path(@article), class:"btn btn-danger mt-2", method: :delete, data:{confirm:"are you sure?" } %> </h2>
              <% end %>
            </div>
            <div class="card-footer text-muted">
            <small> Created <%= time_ago_in_words(@article.created_at) %> ago,
            Edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
            </div>           
          </div>
        </div>
      </div>  
      <div class="mb-3">   
      <%= link_to '[ Return to articles listing page ]', articles_path, class:"text-info row justify-content-md-center mt-4" %>
    </div>
   
  </div>
