<h1 class = "text-center mt-4"> <%= @user.username %> 's profile </h1>

<%= gravatar_for @user, size: 200 %>

<div class="text-center mt-4">
<%#  this is the code for when i want a specific user to only be able to do an action like edit or delete %>
 <% if logged_in? && (@user == current_user || current_user.admin? ) %>
  <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
  <% end %>

</div>

<h3 class = "text-center mt-4"> Articles </h3>
<%#  pagination here refers to @articles instance variable because that is the list i am looking for %>
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>  

<%= render 'articles/article' %>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>  




