<h1 class = "text-center mt-4"> Category: <%= @category.name %> </h1>
<div class = "container">

<div class="text-center mt-4">
<%#  this is the code for when i want a specific user to only be able to do an action like edit or delete %>
 <% if logged_in? && current_user.admin?  %>
  <%= link_to "Edit Category name", edit_category_path(@category), class: "btn btn-outline-info" %>
  <% end %>

</div>

<h3 class = "text-center mt-4"> Articles </h3>
<%#  pagination here refers to @articles instance variable because that is the list i am looking for %>
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>  

<%= render 'articles/article' %>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>  

</div>