<div class="navbar-dark bg-dark">
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <%#  this is just a normal link to the home page from ay page when alpha blog is clicked %>
    <%= link_to "Alpha Blog", root_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">         
        <li class="nav-item">
          <%= link_to "Bloggers", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Articles
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">              
            <%= link_to "Create new Article", new_article_path,class: "dropdown-item" %>
            <%= link_to "View Articles", articles_path,class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <%# if theres a user logged in, the current_user.username will have the username of the user written
        down an the user_path will allow the user to be shown if the name is clicked on, 
        the link to logout allows the user to use the destroy function which allows them to
        log out of the session  %>
        <% if logged_in? %>
          
          <li class="nav-item">
            <%= link_to current_user.username, user_path(current_user), class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Logout", logout_path, class: "nav-link", method: :delete %>
          </li>
       <%#  here we have the else functio which will only work if there is nobody logged in,
       it will have a login with its path and a signup with its path %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", login_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "SignUp", signup_path, class: "nav-link" %>
          </li>

        <% end %>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>